<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 align="right">Events</h4>
            </div>

        </div>
    </div>
</div>
<!--breadcrumbs-->
<div class="divide60"></div>
<div class="container">
    <div class="center-heading">
        <h4 style="color:#ffba00">To be always up-to-date with our events ….
            <!--<form role="form" class="subscribe-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter email to subscribe">
                                    <span class="input-group-btn">
                                        <button class="btn  btn-theme-bg btn-lg" type="submit">Submit</button>
                                    </span>
                                </div>
                            </form> --><small><a href="" ng-click="open()">Subscribe here</a></small></h4>
        <script>
            function myFunction() {
                var email = prompt("Enter email to subscribe");

                if (person != null) {
                    document.getElementById("demo").innerHTML =
                        "Hello " + email + "! How are you today?";
                }
            }
        </script>

        <span class="center-line"></span>
    </div>
    <ul class="filter list-inline">
        <li><a class="active" href="#" data-filter="*">Show All</a></li>
        <li><a href="#" data-filter=".webinars">Webinars</a></li>
        <li><a href="#" data-filter=".workshops">Workshops</a></li>
        <li><a href="#" data-filter=".dayEvents">Day Events</a></li>
        <li><a href="#" data-filter=".programs">Programs</a></li>
    </ul>
    <div class="row">
        <div class="portfolio-box iso-call col-4-space">


            <!--project post-->
            <div class="project-post  programs">
                <div class="item-img-wrap ">
                    <img src="img/program/life-tuning-logo.jpg" class="img-responsive" alt="events">
                    <div class="item-img-overlay">
                        <a href="img/program/life-tuning-logo.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="https://www.facebook.com/Mariam.Moussa.Coaching">Life Tuning Program	</a></h3>
                    <span>Programs <br/>
                            <i class="fa fa-calendar"></i> June 5th to 6th July</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><a href="https://www.facebook.com/Mariam.Moussa.Coaching">more details</a></small>
                </div>
                <!--work desc-->
            </div>
            <!--project post-->
        </div>
    </div>
</div>
<!--container-->

<div class="divide30"></div>

<modal visible="showModal">




    <div id "newsletter" ng-controller="NewsLetterController">

        <!-- <h3 style="color:#ececec">Subscribe here</h3> -->

        <form ng-submit="subscribeNewsLetter()" role="form" class="subscribe-form">
            <div class="input-group">

                <input type="email" class="form-control" required data-validation-required-message="Please enter email." ng-model="subscriber" placeholder="Enter email to subscribe">
                <span class="input-group-btn">
                                    <button class="btn  btn-theme-bg btn-lg"  type="submit">Ok</button>
                                    <!--  -->
                                </span>
            </div>
            <span ng-show="showSubMsg" style="color: #ffba00;"> Thanks For Subscription</span>
        </form>
    </div>


</modal>
<script>
    var winDow = $(window);
    // Needed variables
    var $container = $('.iso-call');
    var $filter = $('.filter');

    try {
        $container.imagesLoaded(function() {
            $container.trigger('resize');
            $container.isotope({
                filter: '*',
                layoutMode: 'masonry',
                animationOptions: {
                    duration: 750,
                    easing: 'linear'
                }
            });

            $('.triggerAnimation').waypoint(function() {
                var animation = $(this).attr('data-animate');
                $(this).css('opacity', '');
                $(this).addClass("animated " + animation);

            }, {
                offset: '75%',
                triggerOnce: true
            });
            setTimeout(1500);
        });
    } catch (err) {}

    winDow.bind('resize', function() {
        var selector = $filter.find('a.active').attr('data-filter');

        try {
            $container.isotope({
                filter: selector,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });
        } catch (err) {}
        return false;
    });

    // Isotope Filter 
    $filter.find('a').click(function() {
        var selector = $(this).attr('data-filter');

        try {
            $container.isotope({
                filter: selector,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });
        } catch (err) {

        }
        return false;
    });


    var filterItemA = $('.filter li a');

    filterItemA.on('click', function() {
        var $this = $(this);
        if (!$this.hasClass('active')) {
            filterItemA.removeClass('active');
            $this.addClass('active');
        }
    });
</script>