<!-- <div ng-controller="ServicesController"> -->
<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 align="right">What we offer</h4>
            </div>

        </div>
    </div>
</div>
<!--breadcrumbs-->
<div class="divide60"></div>
<div class="container">
    <div class="center-heading">
        <h4 style="color: #ffba00"><i class="fa fa-book" aria-hidden="true"></i> Brochure <small><a href="http://207.154.226.195:3000/api/download">download</a></small></h4>
        <script>
            function myFunction() {
                var email = prompt("Enter email to subscribe");

                if (person != null) {
                    document.getElementById("demo").innerHTML =
                        "Hello " + email + "! How are you today?";
                }
            }
        </script>

        <span class="center-line"></span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Our Coaching Services </h3>
        </div>
        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="person-v2">
                    <img src="img/services/personal.jpg" class="img-responsive" alt="Personal Coaching">
                    <div class="person-desc-v2">
                        <h3>Personal Coaching</h3>
                        <em><p>
                                <ul class="list-unstyled">
                                <li>Individual Personal Coaching</li>
                                <li>Team Personal Coaching</li>
                            </ul>
                            </p>
                            <!-- <p><a href="#!services#personal" class="btn  border-theme">Read more</a></p></em> -->
                        <p><button style="background: #FFF;" ng-click="gotoBottom( 'personal' )" class="btn  border-theme">Read more</button></p>
                        </em>

                    </div>
                </div>
            </div>
            <!--person col end-->
            <div class="col-sm-3 text-center">
                <div class="person-v2">
                    <img src="img/services/professional.jpg" class="img-responsive" alt="Professional Coaching">
                    <div class="person-desc-v2">
                        <h3>Professional Coaching</h3>
                        <em><p>
                                <ul class="list-unstyled">
                                <li>Individual Professional Coaching</li>
                                <li>Team Professional Coaching</li>
                            </ul>
                            </p>
                            <!-- <p><a href="#professional" class="btn  border-theme">Read more</a></p></em> -->
                        <p><button style="background: #FFF;" ng-click="gotoBottom( 'professional' )" class="btn  border-theme">Read more</button></p>

                    </div>
                </div>
            </div>
            <!--person col end-->
            <div class="col-sm-3 text-center">
                <div class="person-v2">
                    <img src="img/services/programs.jpg" class="img-responsive" alt="programs">
                    <div class="person-desc-v2">
                        <h3>Coaching Programs</h3>
                        <em><p>
                                <ul class="list-unstyled">
                                <li><a href="#!pro-life-tuning"><b><u>LIFE TUNING PROGRAM</u></b></a></li>
                                <li><a href="#!pro-coaching-for-managers"><b><u>COACHING FOR MANGERS PROGRAM</u></b></a></li>
                            </ul>
                            </p></em>
                    </div>
                </div>
            </div>
            <!--person col end-->
            <div class="col-sm-3 text-center">
                <div class="person-v2">
                    <img src="img/services/business.jpg" class="img-responsive" alt="Business Partnerships">
                    <div class="person-desc-v2">
                        <h3>Business Partnerships</h3>
                        <em><p>
                                If you wish to cooperate with us for any project or event, kindly contact our Business Development Team at <a href="mailto:development@mariam-moussa.com">development@mariam-moussa.com</a> and we will contact you shortly for an appointment to meet with you.
                            </p></em>
                    </div>
                </div>
            </div>
            <!--person col end-->
        </div>
        <div class="container">
            <div class="divide80" id="personal"></div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Personal Coaching</h3>
                </div>
                <div class="col-md-6 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4 align="left" style="color: #064256">&nbsp; Individual Personal Coaching</h4>
                        </div>
                        <!--price title-->
                        <div class="price-price">
                        </div>
                        <!--price price-->
                        <div class="price-features">
                            <p align="justify">An ongoing intimate relationship between the coach and the coachee in the form of one-to-one sessions to take the coachee from where they are right now & who they are to where they want to be & who they want to be in the future
                                while discovering, empowering and transforming the client’s potential!</p>
                        </div>
                        <!--price features-->
                        <div class="price-action" align="left">
                            <a href="#!booking" class="btn btn-theme-bg">Sign Up</a>
                        </div>
                        <!--price action-->
                    </div>
                    <!--price-wrap-->
                </div>
                <!--price col-->
                <div class="col-md-6 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4 align="left" style="color:#002949">&nbsp; Team Personal Coaching</h4>
                        </div>
                        <!--price title-->
                        <div class="price-price">
                        </div>
                        <!--price price-->
                        <div class="price-features">
                            <p align="justify">An ongoing intimate relationship between the coach and the team in the form of one-to-many sessions to take the team from where they are right now to where they want to be in the future in terms of team goals, growth and Organization
                                and Relationship Systems Dynamics.</p>
                        </div>
                        <!--price features-->
                        <div class="price-action" align="left">
                            <a href="#!booking" class="btn btn-theme-bg">Sign Up</a>
                        </div>
                        <!--price action-->
                    </div>
                    <!--price-wrap-->
                </div>
                <!--price col-->
                <!--price col-->

            </div>
        </div>
        <div class="container">
            <div class="divide80" id="professional"></div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Professional Coaching</h3>
                </div>
                <div class="col-md-6 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4 align="left" style="color:#002949">&nbsp; Individual Professional Coaching</h4>
                        </div>
                        <!--price title-->
                        <div class="price-price">
                        </div>
                        <!--price price-->
                        <div class="price-features">
                            <p align="justify">An ongoing intimate relationship between the coach and the coachee in the form of one-to-one sessions to take the coachee from where they are right now in regards to the corporate’s goals & the client’s personal growth to where
                                they want to be in the future in regards to the corporate’s goals & the client’s personal growth while discovering, empowering and transforming who the client himself or herself is!</p>
                        </div>
                        <!--price features-->
                        <div class="price-action" align="left">
                            <a href="#!booking" class="btn btn-theme-bg">Sign Up</a>
                        </div>
                        <!--price action-->
                    </div>
                    <!--price-wrap-->
                </div>
                <!--price col-->
                <div class="col-md-6 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4 align="left" style="color:#002949">&nbsp; Team Professional Coaching</h4>
                        </div>
                        <!--price title-->
                        <div class="price-price">
                        </div>
                        <!--price price-->
                        <div class="price-features">
                            <p align="justify">An ongoing intimate relationship between the coach and the team in the form of one-to-many sessions to take the team from where they are right now to where they want to be in the future in terms of team goals, growth and Organization
                                and Relationship Systems Dynamics.<br/><br/></p>
                        </div>
                        <!--price features-->
                        <div class="price-action" align="left">
                            <a href="#!booking" class="btn btn-theme-bg">Sign Up</a>
                        </div>
                        <!--price action-->
                    </div>
                    <!--price-wrap-->
                </div>
                <!--price col-->
                <!--price col-->

            </div>
        </div>

        <!--why hire us-->
    </div>
    <!--row of skills collapse and highlights-->

</div>
<!--.container-->
<div class="divide30"></div>

<!-- </div> -->